<a href="https://colab.research.google.com/github/Bokyoung-00/machine_learning_education/blob/master/ml_clf/200818_ml_iris_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. 개요
- IRIS  붓꽃 분류 모형을 만든다

### (1) 패키지 불러오기
- sklearn 패키지를 불러온다

In [1]:
import sklearn
print(sklearn.__version__)

0.22.2.post1

### (2) 데이터 불러오기
- sklearn 패키지 내장 데이터 불러오기
- https://scikit-learn.org/stable/tutorial/basic/tutorial.html#loading-an-example-dataset

In [5]:
from sklearn.datasets import load_iris

iris = load_iris() #Bunch 형태의 데이터 셋으로 구성되어 있음

# 독립변수 구성된 데이터
iris_data = iris.data

#종속변수
iris_label = iris.target

print("iris target 값", iris_label[[0,50,100]])
print("iris target 명", iris.target_names)

iris target 값 [0 1 2]
iris target 명 ['setosa' 'versicolor' 'virginica']

### (3) 데이터 전처리
- 상황: NumPy 와 list 형태
- 방법: Pandas를 활용해서 Dataframe 만들기
- Reference: [How to convert a Scikit-learn dataset to a Pandas dataset?](https://stackoverflow.com/questions/38105539/how-to-convert-a-scikit-learn-dataset-to-a-pandas-dataset
)

In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame(data=iris_data, index=[""])
df

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [8]:
import pandas as pd

from sklearn import datasets

def sklearn_to_df(sklearn_dataset):
    df = pd.DataFrame(sklearn_dataset.data, columns=sklearn_dataset.feature_names)
    df['target'] = pd.Series(sklearn_dataset.target)
    return df

df_iris = sklearn_to_df(datasets.load_iris())
df_iris

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]