<a href="https://colab.research.google.com/github/Bokyoung-00/machine_learning_education/blob/master/Python_Class_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### (1) Class 가 필요한 이유

- 계산기 두 개를 한 번에 사용하고자 함

In [3]:
# 리스트 형태로 return

result1 = 0
result2 = 0

def add(num):
  global result1
  global result2
  result1 += num
  result2 += num
  return [result1, result2]

print(add(10))

[10, 10]

- 결과 값을 두 개 만들기 위해서 똑같은 기능의 함수 2개 써야한다

In [ ]:
result1 = 0
result2 = 0

def add1(num):
  global result1
  result1 += num
  return result1

def add2(num):
  global result2
  result2 += num
  return result2

print(add1(10))
print(add2(20)) #100개 값을 구할 때는 힘들어진다

- 프로그래밍에서 반복 작업은 불필요하다
- Class 를 사용하면 편리하다

### (2) 사람 클래스
- 사람의 특징
  + 이름, 나이, 취미, 등....
- 사람의 행동
  + 잠자는 행동, 밥 먹는 행동 등...

#### 1. 프로그래밍
- 사람의 대한 변수
  + name = "rain" & age = 20, wife_name = "김태희"
- "비" 가 하는 행동
  + def sleep():, def eat(): ...

In [4]:
class Human:
  
  #사람에 대한 특징
  name = "Rain"
  # name = NULL 이라고 표현 가능
  age = 30

  #사람에 대한 행동
  def exercise(self):
    print("운동합니다")

In [5]:
rain = Human()
print(rain.name)
print(rain.age)
rain.exercise()

Rain
30
운동합니다

#### 2. 일반적인 형태의 Class

In [16]:
class Human:
  def __init__(self, name, age, hobby, degree):  # 변수 리스트 
    self.name = name
    self.age = age
    self.hobby = hobby
    self.degree = degree
  
  def describe(self):
    return f"{self.name}의 나이는 {self.age} 이다"


evan = Human("Evan", 30, "축구", "고졸")
hannah = Human("Hannah", 20, "프로그래밍", "대졸")
man_1= Human("man",10,"g","-")

print(evan.name, evan.hobby,",",evan.describe())
print(man_1.name, man_1.hobby,",",man_1.describe())
print(hannah.age, hannah.degree, ",",hannah.describe())

Evan 축구 , Evan의 나이는 30 이다
man g , man의 나이는 10 이다
20 대졸 , Hannah의 나이는 20 이다

## (3) 상속

In [18]:
class Human:
  def __init__(self, name, age):  # 변수 리스트 
    self.name = name
    self.age = age
  def describe(self):
      return f"{self.name}의 나이는 {self.age} 이다"
  def skinColor(self, color):
      return f"{self.name}의 피부 색상은 {color}이다"

class Asian(Human):
  pass

evan = Asian("Jihoon", 9)
print(evan.skinColor("Yellow"))

Jihoon의 피부 색상은 Yellow이다

## (4) 머신러닝 클래스

- data: data-20200826T055710Z-001.zip (단톡방)

- 데이터 구글 드라이브에서 불러오기

In [19]:
# Mount Google Drive
from google.colab import drive # import drive from google colab
from os.path import join

ROOT = "/content/drive"     # default location for the drive
print(ROOT)                 # print content of ROOT (Optional)
drive.mount(ROOT)

/content/drive
Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [23]:
MY_GOOGLE_DRIVE_PATH = 'My Drive/Colab Notebooks/data-20200826T055710Z-001/data/' # 프로젝트 경로
PROJECT_PATH = join(ROOT, MY_GOOGLE_DRIVE_PATH) # 프로젝트 경로
print(PROJECT_PATH)

/content/drive/My Drive/Colab Notebooks/data-20200826T055710Z-001/data/

In [26]:
%cd "{PROJECT_PATH}"
%ls

/content/drive/My Drive/Colab Notebooks/data-20200826T055710Z-001/data
weather2.csv  weather.csv

In [28]:
import pandas as pd

data= pd.read_csv("weather.csv")
data2= pd.read_csv("weather2.csv")

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

In [30]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted.Date            10000 non-null  object
 1   Summary                   10000 non-null  object
 2   Precip.Type               10000 non-null  object
 3   Temperature..C.           10000 non-null  float64
 4   Apparent.Temperature..C.  10000 non-null  float64
 5   Humidity                  10000 non-null  float64
 6   Wind.Speed..km.h.         10000 non-null  float64
 7   Wind.Bearing..degrees.    10000 non-null  int64
 8   Visibility..km.           10000 non-null  float64
 9   Loud.Cover                10000 non-null  int64
 10  Pressure..millibars.      10000 non-null  float64
 11  Daily.Summary             10000 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 937.6+ KB

- 데이터 불러오는 것의 반복이 발생
- 반복을 막고자 class 를 생성한다

In [33]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd


class Model:
    def __init__(self, datafile, model_type = None):
       self.datafile = datafile
       self.df = pd.read_csv(datafile)
       data_columns = ['Formatted Date', 'Summary', 'Precip Type', 
                       'Temperature (C)', 'Apparent Temperature (C)', 
                       'Humidity', 'Wind Speed (km/h)', 'Wind Bearing (degrees)',
                       'Visibility (km)', 'Loud Cover', 'Pressure (millibars)','Daily Summary']
       self.df.columns = data_columns

       if model_type == 'rf':
            self.user_defined_model = RandomForestRegressor() 
       else:
            self.user_defined_model = LinearRegression()

    # 데이터셋 분리        
    def split(self, test_size):
        X = np.array(self.df[['Humidity', 'Pressure (millibars)']])
        y = np.array(self.df['Temperature (C)'])
        self.X_train, self.X_test, self.y_train, self.y_test = train_test_split(X, y, test_size = test_size, random_state = 42)
        
    # 모형
    def fit(self):
        self.model = self.user_defined_model.fit(self.X_train, self.y_train)

    # 예측
    def predict(self, input_value):
        if input_value == None:
            result = self.user_defined_model.predict(self.X_test)
        else: 
            result = self.user_defined_model.predict(np.array([input_value]))
        return result

In [34]:
if __name__ == '__main__':
    a_model = Model(datafile="weather.csv", model_type=None)
    a_model.split(0.2)
    a_model.fit()    
    print(a_model.predict([.9, 1000]))
    print("Accuracy: ", a_model.model.score(a_model.X_test, a_model.y_test))

[6.83625473]
Accuracy:  0.39578560465686424